@model GameViewModel

@{
    ViewData["Title"] = $"{Model.Game.Name}";
}
<div class="card-deck">
    <div class="card text-center" style="border: none">
    </div>
    <div class="card text-center">
        <img src="http://192.168.1.120/assets/images/@Model.Game.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Game.Name</h5>
            <a class="card-text" style="font-size: 10px">Developer: @Model.Game.Developer</a><br>
            <a class="card-text" style="font-size: 10px">Publisher: @Model.Game.Publisher</a><br>
            <a class="card-text" style="font-size: 10px">Genre: @Model.Game.Genre</a><br><br>
            <p class="card-text">@Model.Game.Description</p>
            <p class="card-text">Release: @Model.Game.ReleaseDate.ToShortDateString()</p>
            <a href="/GameCatalog/Catalog?page=@Model.Page&sortedType=@Model.SortedType" class="btn btn-primary" style="font-size: 20px;">Back</a>
        </div>
    </div>
    <div class="card text-center" style="border: none">
    </div>
</div>
